.mappings {
  list-style-type: none;
}
.fieldMappings {
    cursor: pointer;
    left: 0;
    background-color: #EEE;
    margin: 0 0 .5em 0;
    padding: .3em 0;
    height: .5em;
  }
  .unmappedFieldsWithConflicts {
    cursor: pointer;
    left: 0;
    background-color: #EEE;
    margin: 0 0 .5em 0;
    padding: .3em 0;
    height: .5em;
  }
